In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import os

In [4]:
asn = pd.read_csv('assignment_3_data.csv')

In [5]:
asn.head()

,x0,x1,x34,x35,x36,x41,x45,x46,x68,x84,x93,x94
0,0.196063,3.683995,tesla,thurday,-4.664154,$124.72,-0.01%,14.360555,Jun,-11.072770,asia,0.023357
1,23.155197,-9.226725,Toyota,thur,5.220242,"$1,273.04",-0.01%,0.328324,July,4.601376,asia,1.349389
2,-13.969618,-0.343978,bmw,wednesday,-0.061424,"($1,651.19)",0.00%,3.824882,Aug,17.351746,asia,2.149993
3,49.722481,-1.500789,Toyota,wed,1.908461,$896.05,0.01%,-6.201024,Aug,6.084073,asia,-3.052037
4,-13.494403,7.445215,Honda,wednesday,0.074133,"($1,710.27)",0.01%,-12.547338,May,10.035783,asia,-0.100660

In [6]:
asn.shape

(999, 12)

In [7]:
asn['x68'].unique()

array(['Jun', 'July', 'Aug', 'May', 'Apr', 'sept.', 'Oct', 'Dev', 'Mar',
       'Nov'], dtype=object)

In [8]:
asn['x68'] = asn['x68'].replace('July', 'Jul')

In [9]:
asn['x68'] = asn['x68'].replace('sept.', 'Sep')

In [10]:
asn['x68'] = asn['x68'].replace('Dev', 'Dec')

In [11]:
asn['x68'].unique()

array(['Jun', 'Jul', 'Aug', 'May', 'Apr', 'Sep', 'Oct', 'Dec', 'Mar',
       'Nov'], dtype=object)

In [12]:
asn.head()

,x0,x1,x34,x35,x36,x41,x45,x46,x68,x84,x93,x94
0,0.196063,3.683995,tesla,thurday,-4.664154,$124.72,-0.01%,14.360555,Jun,-11.072770,asia,0.023357
1,23.155197,-9.226725,Toyota,thur,5.220242,"$1,273.04",-0.01%,0.328324,Jul,4.601376,asia,1.349389
2,-13.969618,-0.343978,bmw,wednesday,-0.061424,"($1,651.19)",0.00%,3.824882,Aug,17.351746,asia,2.149993
3,49.722481,-1.500789,Toyota,wed,1.908461,$896.05,0.01%,-6.201024,Aug,6.084073,asia,-3.052037
4,-13.494403,7.445215,Honda,wednesday,0.074133,"($1,710.27)",0.01%,-12.547338,May,10.035783,asia,-0.100660

In [13]:
asn['x34'].unique()

array(['tesla', 'Toyota', 'bmw', 'Honda', 'ford', 'volkswagon',
       'chrystler', 'nissan', 'mercades', 'chevrolet'], dtype=object)

In [14]:
asn['x34'] = asn['x34'].replace('tesla', 'Tesla')

In [15]:
asn['x34'] = asn['x34'].replace('bmw', 'BMW')

In [16]:
asn['x34'] = asn['x34'].replace('ford', 'Ford')

In [17]:
asn['x34'] = asn['x34'].replace('volkswagon', 'Volkswagen')

In [18]:
asn['x34'] = asn['x34'].replace('chrystler', 'Chrysler')

In [19]:
asn['x34'] = asn['x34'].replace('nissan', 'Nissan')

In [20]:
asn['x34'] = asn['x34'].replace('mercades', 'Mercedes')

In [21]:
asn['x34'] = asn['x34'].replace('chevrolet', 'Chevrolet')

In [22]:
asn['x34'].unique()

array(['Tesla', 'Toyota', 'BMW', 'Honda', 'Ford', 'Volkswagen',
       'Chrysler', 'Nissan', 'Mercedes', 'Chevrolet'], dtype=object)

In [23]:
asn.head()

,x0,x1,x34,x35,x36,x41,x45,x46,x68,x84,x93,x94
0,0.196063,3.683995,Tesla,thurday,-4.664154,$124.72,-0.01%,14.360555,Jun,-11.072770,asia,0.023357
1,23.155197,-9.226725,Toyota,thur,5.220242,"$1,273.04",-0.01%,0.328324,Jul,4.601376,asia,1.349389
2,-13.969618,-0.343978,BMW,wednesday,-0.061424,"($1,651.19)",0.00%,3.824882,Aug,17.351746,asia,2.149993
3,49.722481,-1.500789,Toyota,wed,1.908461,$896.05,0.01%,-6.201024,Aug,6.084073,asia,-3.052037
4,-13.494403,7.445215,Honda,wednesday,0.074133,"($1,710.27)",0.01%,-12.547338,May,10.035783,asia,-0.100660

In [24]:
asn['x93'].unique()

array(['asia', 'america', 'euorpe'], dtype=object)

In [25]:
asn['x93'] = asn['x93'].replace('asia', 'Asia')

In [26]:
asn['x93'] = asn['x93'].replace('america', 'America')

In [27]:
asn['x93'] = asn['x93'].replace('euorpe', 'Europe')

In [28]:
asn['x93'].unique()

array(['Asia', 'America', 'Europe'], dtype=object)

In [29]:
asn.head(20)

,x0,x1,x34,x35,x36,x41,x45,x46,x68,x84,x93,x94
0,0.196063,3.683995,Tesla,thurday,-4.664154,$124.72,-0.01%,14.360555,Jun,-11.072770,Asia,0.023357
1,23.155197,-9.226725,Toyota,thur,5.220242,"$1,273.04",-0.01%,0.328324,Jul,4.601376,Asia,1.349389
2,-13.969618,-0.343978,BMW,wednesday,-0.061424,"($1,651.19)",0.00%,3.824882,Aug,17.351746,Asia,2.149993
3,49.722481,-1.500789,Toyota,wed,1.908461,$896.05,0.01%,-6.201024,Aug,6.084073,Asia,-3.052037
4,-13.494403,7.445215,Honda,wednesday,0.074133,"($1,710.27)",0.01%,-12.547338,May,10.035783,Asia,-0.100660
5,-52.928678,20.318698,Toyota,thurday,3.970205,($634.94),0.01%,3.714089,Jul,5.796239,Asia,-2.982810
6,-5.095166,10.804072,BMW,thurday,3.879950,$272.90,-0.01%,-1.694294,Jun,8.353069,Asia,-0.948726
7,5.498620,-9.664807,Ford,wed,1.576983,"($1,659.69)",-0.01%,-1.971680,Jun,-10.427572,Asia,0.849058
8,-77.503482,15.459621,Volkswagen,thurday,1.976971,"($1,061.87)",0.00%,-8.424532,Jun,3.340398,America,-1.342460
9,43.214532,-25.647894,Honda,thurday,-2.755702,$526.37,0.00%,-7.966714,Jul,-2.655538,Asia,-0.290636
10,1.044269,30.328795,Toyota,thurday,-1.565747,($903.23),0.01%,0.062612,Jul,-0.850402,Asia,0.250884
11,31.345244,-8.613124,BMW,thurday,2.484965,$326.63,-0.01%,-0.847241,Aug,7.081839,Asia,-0.191422
12,-4.405470,22.138764,Toyota,thurday,1.239642,"($1,043.81)",0.00%,-0.489578,May,-4.483318,Asia,0.818361
13,62.659219,-22.895280,BMW,thur,-1.903582,"$1,508.92",-0.01%,-2.661446,Aug,7.929698,Asia,-1.177427
14,-30.379709,20.338723,Volkswagen,tuesday,1.455611,($754.73),0.02%,-0.159956,Apr,-10.651264,Asia,-0.243558
15,59.275948,-25.175680,Volkswagen,thurday,-6.722702,($142.40),0.00%,-9.918532,Sep,7.091521,Asia,-0.615134
16,-40.447193,35.943409,Volkswagen,wednesday,-3.255760,"($1,027.17)",0.01%,-0.580065,Jun,-4.823273,America,-0.665352
17,30.087605,-20.265159,Chrysler,thurday,-1.136890,$344.20,0.00%,1.082241,Jul,-12.431091,Asia,0.529057
18,16.963624,-8.940815,Volkswagen,thurday,4.703883,$708.43,0.01%,-1.144114,Aug,-5.244126,Asia,-0.392573
19,-21.182269,-24.987562,Volkswagen,thurday,4.090719,$344.59,0.01%,2.396399,May,6.093067,Asia,-1.143885

In [30]:
asn['x35'].unique()

array(['thurday', 'thur', 'wednesday', 'wed', 'tuesday', 'monday',
       'friday', 'fri'], dtype=object)

In [31]:
asn['x35'] = asn['x35'].replace(['thurday', 'thur'], 'Thursday')

In [32]:
asn['x35'] = asn['x35'].replace(['wednesday', 'wed'], 'Wednesday')

In [33]:
asn['x35'] = asn['x35'].replace(['friday', 'fri'], 'Friday')

In [34]:
asn['x35'] = asn['x35'].replace('monday', 'Monday')

In [35]:
asn['x35'] = asn['x35'].replace('tuesday', 'Tuesday')

In [36]:
asn['x35'].unique()

array(['Thursday', 'Wednesday', 'Tuesday', 'Monday', 'Friday'],
      dtype=object)

In [37]:
asn.head()

,x0,x1,x34,x35,x36,x41,x45,x46,x68,x84,x93,x94
0,0.196063,3.683995,Tesla,Thursday,-4.664154,$124.72,-0.01%,14.360555,Jun,-11.072770,Asia,0.023357
1,23.155197,-9.226725,Toyota,Thursday,5.220242,"$1,273.04",-0.01%,0.328324,Jul,4.601376,Asia,1.349389
2,-13.969618,-0.343978,BMW,Wednesday,-0.061424,"($1,651.19)",0.00%,3.824882,Aug,17.351746,Asia,2.149993
3,49.722481,-1.500789,Toyota,Wednesday,1.908461,$896.05,0.01%,-6.201024,Aug,6.084073,Asia,-3.052037
4,-13.494403,7.445215,Honda,Wednesday,0.074133,"($1,710.27)",0.01%,-12.547338,May,10.035783,Asia,-0.100660

In [38]:
asn['x45'].unique()

array(['-0.01%', '0.00%', '0.01%', '0.02%', '-0.02%', '-0.03%', '0.03%',
       nan], dtype=object)

In [39]:
asn.loc[asn['x45'].isna()]

,x0,x1,x34,x35,x36,x41,x45,x46,x68,x84,x93,x94
879,26.958644,11.324442,Honda,Thursday,2.426083,($163.55),NaN,-1.561606,Aug,15.293068,Asia,-1.496513

In [40]:
asn['x45'].mode()

0    0.00%
Name: x45, dtype: object

In [41]:
asn.loc[879, 'x45'] = '0.00%'

In [42]:
asn['x45'].unique()

array(['-0.01%', '0.00%', '0.01%', '0.02%', '-0.02%', '-0.03%', '0.03%'],
      dtype=object)

In [43]:
asn['x45'] = asn['x45'].str.replace('%', '')

In [44]:
asn['x45'] = pd.to_numeric(asn['x45'], errors='coerce')

In [45]:
asn['x45'] = asn['x45']/100

In [46]:
asn.head()

,x0,x1,x34,x35,x36,x41,x45,x46,x68,x84,x93,x94
0,0.196063,3.683995,Tesla,Thursday,-4.664154,$124.72,-0.0001,14.360555,Jun,-11.072770,Asia,0.023357
1,23.155197,-9.226725,Toyota,Thursday,5.220242,"$1,273.04",-0.0001,0.328324,Jul,4.601376,Asia,1.349389
2,-13.969618,-0.343978,BMW,Wednesday,-0.061424,"($1,651.19)",0.0000,3.824882,Aug,17.351746,Asia,2.149993
3,49.722481,-1.500789,Toyota,Wednesday,1.908461,$896.05,0.0001,-6.201024,Aug,6.084073,Asia,-3.052037
4,-13.494403,7.445215,Honda,Wednesday,0.074133,"($1,710.27)",0.0001,-12.547338,May,10.035783,Asia,-0.100660

In [47]:
asn.tail()

,x0,x1,x34,x35,x36,x41,x45,x46,x68,x84,x93,x94
994,18.373405,-7.902737,Volkswagen,Wednesday,-3.651558,"($1,520.19)",0.0000,-4.009639,Oct,8.519576,Asia,-0.790982
995,55.762861,-11.687225,BMW,Thursday,3.204393,$687.44,-0.0002,-13.827186,Jul,4.745582,Asia,2.529016
996,-8.957643,11.970364,Honda,Wednesday,0.309493,$419.60,0.0000,2.905907,May,-0.643147,Asia,0.600268
997,5.887040,5.370001,Volkswagen,Thursday,-3.700755,"($1,214.32)",-0.0001,3.089698,Jul,-5.489663,Europe,1.017123
998,6.778203,-6.325029,Volkswagen,Wednesday,-3.745862,$980.70,-0.0001,8.173062,Jun,12.089001,America,-0.290048

In [48]:
asn['x41'].unique()

array(['$124.72 ', '$1,273.04 ', '($1,651.19)', '$896.05 ', '($1,710.27)',
       '($634.94)', '$272.90 ', '($1,659.69)', '($1,061.87)', '$526.37 ',
       '($903.23)', '$326.63 ', '($1,043.81)', '$1,508.92 ', '($754.73)',
       '($142.40)', '($1,027.17)', '$344.20 ', '$708.43 ', '$344.59 ',
       '$673.54 ', '($769.48)', '($257.74)', '$61.11 ', '$58.33 ',
       '($1,032.54)', '$942.30 ', '$672.06 ', '($386.49)', '($334.91)',
       '($375.25)', '$304.93 ', '$1,218.54 ', '$1,418.15 ', '($781.28)',
       '($1,173.34)', '($998.68)', '($1,636.38)', '$600.99 ', '($902.47)',
       '($2,502.46)', '($917.64)', '$980.64 ', '$70.08 ', '($981.82)',
       '$79.44 ', '$112.69 ', '($622.36)', '$1,481.73 ', '($800.51)',
       '$138.53 ', '$612.06 ', '($423.54)', '$613.94 ', '$2,388.15 ',
       '$539.67 ', '$2,134.08 ', '($661.52)', '$1,201.93 ', '($286.83)',
       '$636.20 ', '($1,407.27)', '($1,090.66)', '($289.83)', '$365.33 ',
       '$372.62 ', '$1,410.97 ', '$983.98 ', '($407.40)', '($333.82)',
       '($1,330.64)', '($738.88)', '($0.09)', '($447.73)', '$587.90 ',
       '$575.25 ', '($2,171.55)', '$1,185.39 ', '($1,053.00)', '$666.43 ',
       '($160.13)', '($1,320.24)', '($344.32)', '($204.60)',
       '($1,767.95)', '$1,466.58 ', '($800.61)', '$536.00 ', '$141.95 ',
       '($1,195.59)', '$447.72 ', '($60.31)', '($398.31)', '($804.32)',
       '$202.24 ', '($251.45)', '($1,881.71)', '($566.85)', '($1,327.19)',
       '($386.59)', '($473.01)', '($275.08)', '($1,939.71)', '$114.56 ',
       '($3.77)', '$1,062.57 ', '$2,112.46 ', '($2,414.82)', '($420.56)',
       '($284.52)', '$738.40 ', '($80.82)', '($1,611.33)', '($468.82)',
       '$130.00 ', '($2,128.17)', '($788.84)', '($41.68)', '$18.41 ',
       '$1,276.51 ', '($1,273.49)', '($251.93)', '$2,144.95 ',
       '($940.13)', '($842.62)', '($2,120.13)', '$1,444.70 ', '$823.01 ',
       '($427.81)', '$2,217.10 ', '($248.06)', '$334.28 ', '$1,448.39 ',
       '($514.75)', '$955.86 ', '($324.31)', '$227.04 ', '($753.67)',
       '($456.80)', '$688.19 ', '$2,470.88 ', '$294.63 ', '($2,170.98)',
       '($288.08)', '($906.84)', '$1,596.24 ', '($483.75)', '$1,058.94 ',
       '$502.86 ', '$795.48 ', '($431.56)', '($2,124.46)', '$533.54 ',
       '($1,699.78)', '$783.90 ', '($1,384.14)', '($858.13)',
       '$1,505.43 ', '($1,281.55)', '$1,065.88 ', '($598.16)', '$123.03 ',
       '($926.89)', '$650.59 ', '($1,981.93)', '($2,138.07)', '$486.71 ',
       '$1,099.63 ', '($995.39)', '($1,498.58)', '$1,015.59 ', '$336.18 ',
       '($900.77)', '$1,919.96 ', '($995.27)', '$160.86 ', '($701.21)',
       '($423.56)', '($1,022.39)', '$1,033.17 ', '($485.58)',
       '($1,053.26)', '($661.29)', '$457.14 ', '($1,189.09)', '($204.85)',
       '$812.82 ', '($7.87)', '($725.33)', '$1,104.70 ', '($509.19)',
       '$356.26 ', '$160.65 ', '$2,108.98 ', '$864.92 ', '($529.87)',
       '$1,293.57 ', '$75.25 ', '($103.14)', '($1,230.33)', '$912.88 ',
       '$432.93 ', '($756.85)', '$2,245.35 ', '$1,571.18 ', '($358.92)',
       '($1,031.91)', '$675.21 ', '($376.08)', '$1,064.40 ', '($139.92)',
       '$30.07 ', '($78.01)', '$178.93 ', '$1,569.67 ', '$1,069.63 ',
       '$260.41 ', '$1,287.45 ', '($1,037.77)', '$1,823.39 ', '$737.52 ',
       '($1,075.41)', '($306.63)', '$1,863.28 ', '($32.05)',
       '($1,096.12)', '($221.74)', '$1,094.07 ', '$914.40 ', '($870.16)',
       '$1,891.86 ', '($1,085.24)', '$1,202.18 ', '$1,837.79 ',
       '($144.98)', '$152.91 ', '($762.78)', '($338.04)', '($245.36)',
       '($205.01)', '($1,929.58)', '$159.70 ', '$1,238.14 ', '($172.65)',
       '$161.19 ', '$847.30 ', '($1,078.21)', '($524.58)', '$79.96 ',
       '$288.35 ', '($60.82)', '$601.65 ', '($1,160.01)', '($375.17)',
       '($722.89)', '($328.14)', '$214.47 ', '($213.71)', '$702.20 ',
       '$762.69 ', '$561.64 ', '$1,027.85 ', '$305.62 ', '($739.12)',
       '$1,489.06 ', '($433.65)', '$1,286.95 ', '$2,899.67 ',
       '$1,170.75 ', '($428.67)', '($601.41)', '$231.46 ', '$708.79 ',
       '($411.95)', '($87.45)', '($984.72)', '($1,582.14)', '($1,764.74)',
       '($1,084.91)', '($843.61)', '($815.37)', '$1,027.66 ', '($793.23)',
       '($1,292.16)', '$943.53 ', '($371.18)', '$55.88 ', '$398.45 ',
       '$370.23 ', '($740.64)', '($648.41)', '($1,246.24)', '$506.75 ',
       '($1,265.97)', '$1,873.81 ', '($557.47)', '($2,564.14)',
       '$1,549.46 ', '($2,395.83)', '($1,817.53)', '($995.46)',
       '$565.16 ', '($680.81)', '$223.30 ', '$1,435.95 ', '$779.21 ',
       '($1,260.66)', '$585.24 ', '($244.70)', '$1,094.95 ', '$343.68 ',
       '($1,717.04)', '($743.21)', '$694.67 ', '($1,112.25)',
       '$1,810.31 ', '$489.54 ', '($1,309.09)', '$2,271.85 ', '($674.14)',
       '($112.01)', '($3,041.42)', '$257.88 ', '($350.50)', '$27.45 ',
       '$540.15 ', '($181.24)', '$543.26 ', '$1,886.90 ', '($1,100.78)',
       '$380.26 ', '$1,566.82 ', '$1,775.46 ', '($1,036.19)', '$103.79 ',
       '($109.58)', '($1,765.74)', '($1,295.90)', '($441.02)',
       '($791.89)', '$1,328.75 ', '$345.17 ', '($1,724.53)',
       '($1,057.86)', '($142.08)', '($646.80)', '($438.17)', '$382.26 ',
       '($1,677.23)', '$97.39 ', '$144.28 ', '$528.71 ', '($1,376.32)',
       '$808.91 ', '$461.33 ', '($510.93)', '$695.84 ', '$1,040.92 ',
       '$1,246.00 ', '($369.30)', '$668.24 ', '$1,874.42 ', '($647.84)',
       '($1,185.41)', '($144.62)', '$957.46 ', '($520.77)', '($802.38)',
       '($130.97)', '$254.46 ', '($652.68)', '($1,867.85)', '($89.40)',
       '($1,065.06)', '$1,846.36 ', '($15.72)', '$263.53 ', '$1,101.38 ',
       '$37.89 ', '$995.02 ', '$1,157.50 ', '$1,536.59 ', '$319.26 ',
       '$52.22 ', '($900.39)', '$212.68 ', '$194.82 ', '$2,769.32 ',
       '($745.86)', '($1,655.63)', '($331.04)', '($93.26)', '$121.38 ',
       '($1,027.42)', '($284.43)', '$573.20 ', '($373.74)', '$703.52 ',
       '$1,231.29 ', '$2,687.24 ', '($139.65)', '$26.96 ', '$3.41 ',
       '$714.18 ', '($2,487.51)', '($85.36)', '($943.01)', '$198.75 ',
       '($1,306.05)', '($754.17)', '$2,681.34 ', '$38.89 ', '($183.98)',
       '$1,629.56 ', '$101.24 ', '$716.06 ', '$2,456.21 ', '($1,108.63)',
       '($73.55)', '$1,343.76 ', '$468.17 ', '($225.72)', '($163.42)',
       '($953.96)', '($992.94)', '$95.07 ', '$377.11 ', '$1,166.99 ',
       '($281.29)', '($1,988.60)', '$707.75 ', '$895.55 ', '($111.08)',
       '($473.03)', '$269.51 ', '$518.77 ', '($611.07)', '$2,670.16 ',
       '$860.53 ', '($709.09)', '($1,935.40)', '($1,146.25)', '$454.65 ',
       '$179.51 ', '$722.41 ', '$552.27 ', '$852.29 ', '$334.69 ',
       '$729.62 ', '($566.64)', '($889.77)', '($854.26)', '$892.88 ',
       '($410.37)', '$1,653.58 ', '$975.40 ', '($94.11)', '($404.92)',
       '$709.09 ', '($819.84)', '($1,157.54)', '($888.03)', '($225.09)',
       '$228.08 ', '($767.06)', '$445.83 ', '$413.42 ', '($53.02)',
       '($1,712.53)', '($2,205.84)', '($545.23)', '$296.80 ', '($261.71)',
       '$572.48 ', '($138.44)', '$113.94 ', '$119.52 ', '($205.19)',
       '$596.62 ', '$1,253.90 ', '$872.18 ', '$2,480.34 ', '($337.86)',
       '($1,948.52)', '$158.70 ', '($173.00)', '($902.95)', '($270.04)',
       '($431.91)', '$791.27 ', '$579.77 ', '$2,544.29 ', '($613.93)',
       '$1,545.76 ', '($2,197.83)', '$1,111.40 ', '($692.03)',
       '($583.59)', '$286.34 ', '$149.75 ', '($54.95)', '($185.46)',
       '($665.41)', '($407.31)', '$1,721.71 ', '$451.55 ', '$474.82 ',
       '($299.68)', '($907.86)', '$71.19 ', '$914.64 ', '($414.44)',
       '($857.67)', '$3,658.56 ', '($743.81)', '($2,005.80)',
       '$1,054.10 ', '($407.07)', '($617.71)', '($110.28)', '$1,084.74 ',
       '$1,221.98 ', '$905.33 ', '$1,753.17 ', '($769.00)', '$741.07 ',
       '$920.60 ', '$521.07 ', '$1,054.03 ', '($141.84)', '$1,099.77 ',
       '$1,554.47 ', '($74.67)', '($1,103.74)', '$1,181.61 ',
       '$1,506.79 ', '($680.06)', '$2,036.51 ', '$480.00 ', '($475.67)',
       '($2,013.88)', '$998.30 ', '$83.29 ', '$245.33 ', '$41.04 ',
       '$257.75 ', '$451.21 ', '($854.48)', '($475.27)', '$201.31 ',
       '($1,070.65)', '$594.94 ', '$230.23 ', '$71.77 ', '$883.31 ',
       '($2,939.22)', '$351.94 ', '$913.09 ', '$956.82 ', '($968.72)',
       '$529.15 ', '$2,132.41 ', '($888.37)', '($136.42)', '($523.72)',
       '$1,537.19 ', '($1,191.41)', '$250.47 ', '$1,943.64 ',
       '$1,027.13 ', '($266.26)', '$1,122.86 ', '($143.34)', '$1,898.99 ',
       '($67.69)', '$830.42 ', '($935.06)', '$69.35 ', '$1,240.16 ',
       '($507.40)', '($831.94)', '($395.85)', '($385.84)', '($33.69)',
       '($1,339.13)', '($676.10)', '($655.52)', '$1,067.60 ', '($305.39)',
       '$268.47 ', '$379.56 ', '($1,208.38)', '$671.44 ', '($164.41)',
       '($1,334.67)', '($874.07)', '$1,167.91 ', '$29.97 ', '($251.31)',
       '$1,008.74 ', '$1,464.79 ', '$106.30 ', '($94.73)', '($753.60)',
       '$336.91 ', '($836.03)', '$1,671.37 ', '$954.39 ', '($836.17)',
       '($1,146.77)', '($179.18)', '($468.19)', '$151.80 ', '$1,188.23 ',
       '($254.70)', '($1,692.97)', '($514.69)', '$753.22 ', '$725.64 ',
       '$1,330.87 ', '$1,235.62 ', '($331.97)', '$1,774.85 ', '($309.24)',
       '$1,011.46 ', '($1,631.57)', '$621.34 ', '($1,773.51)', '$101.62 ',
       '($782.52)', '$13.85 ', '($493.15)', '($484.53)', '($852.11)',
       '($1,178.22)', '($2,808.15)', '$470.27 ', '$1,024.59 ', '$247.55 ',
       '($448.55)', '($234.32)', '($434.42)', '$1,820.08 ', '($839.16)',
       '$835.33 ', '($214.09)', '$1,519.02 ', '$422.70 ', '$385.87 ',
       '($12.29)', '($1,263.37)', '$525.75 ', '$787.37 ', '($99.66)',
       '($6.33)', '$1,489.68 ', '$266.20 ', '($631.09)', '$1,121.03 ',
       '$1,131.29 ', '$24.44 ', '$79.70 ', '$470.47 ', '$862.55 ',
       '$1,013.17 ', '$1,119.74 ', '($105.86)', '$685.80 ', '$573.72 ',
       '$609.45 ', '($1,167.92)', '($1,503.71)', '$503.15 ', '($738.20)',
       '$1,830.52 ', '($1,219.49)', '($161.38)', '$51.47 ', '$178.71 ',
       '($192.45)', '($1,307.57)', '($2,179.76)', '($984.41)',
       '($775.10)', '$75.57 ', '$213.90 ', '$1,131.40 ', '$504.89 ',
       '$2,866.10 ', '$1,692.80 ', '($912.39)', '$1,198.22 ',
       '$1,373.14 ', '$428.68 ', '($458.70)', '$1,182.21 ', '($1,362.84)',
       '($353.03)', '($606.10)', '($419.23)', '($1,415.05)', '($849.13)',
       '$1,301.50 ', '$1,116.16 ', '($1,144.55)', '($779.83)',
       '($1,476.16)', '($35.77)', '($757.63)', '$307.77 ', '$474.02 ',
       '($856.50)', '$1,226.38 ', '($922.51)', '$210.49 ', '($192.15)',
       '($372.71)', '$568.47 ', '($636.04)', '($1,133.98)', '($1,258.42)',
       '$130.77 ', '$911.97 ', '$997.40 ', '$134.62 ', '($366.54)',
       '$328.19 ', '($580.02)', '$279.92 ', '($2,354.57)', '($948.45)',
       '$680.67 ', '$1,240.07 ', '$336.96 ', '$1,337.88 ', '($829.95)',
       '($1,568.18)', '($142.01)', '($665.14)', '($342.85)', '$117.12 ',
       '($1,845.51)', '($334.28)', '($170.33)', '($268.22)', '($685.70)',
       '$843.97 ', '($814.76)', '($404.59)', '($1,004.55)', '($208.68)',
       '($425.09)', '($743.74)', '$1,207.71 ', '$961.06 ', '($460.81)',
       '($630.91)', '$1,090.89 ', '$894.23 ', '($957.13)', '$630.87 ',
       '$265.37 ', '($1,031.46)', '$18.45 ', '($331.20)', '($2,166.28)',
       '$818.54 ', '$288.88 ', '$305.69 ', '($888.90)', '($48.92)',
       '($5.73)', '$89.69 ', '($947.73)', '($522.95)', '$760.01 ',
       '($533.48)', '($1,137.77)', '($1,139.04)', '($59.16)', '($908.04)',
       '$1,431.80 ', '$302.63 ', '$850.07 ', '$376.30 ', '($654.21)',
       '($726.83)', '$537.96 ', '($876.90)', '$1,152.08 ', '$180.21 ',
       '($994.39)', '($19.89)', '($359.51)', '($613.80)', '($35.79)',
       '$234.90 ', '$784.45 ', '$537.49 ', '$1,804.37 ', '$2,581.86 ',
       '$521.81 ', '($719.80)', '($1,224.38)', '($736.82)', '$657.14 ',
       '($492.24)', '$1,423.59 ', '($1,067.67)', '($1,268.96)', '$90.84 ',
       '$1,645.15 ', '($384.56)', '$247.09 ', '$1,230.55 ', '($432.57)',
       '$732.81 ', '($3.54)', '$3,031.99 ', '$918.52 ', '($1,791.52)',
       '($426.97)', '($894.72)', '$1,917.24 ', '$786.21 ', '$877.59 ',
       '$1,056.52 ', '($263.07)', '$1,173.92 ', '($194.20)', '($447.00)',
       '($549.43)', '($229.93)', '($291.64)', '($701.25)', '$209.83 ',
       '($19.94)', '($1,097.13)', '($1,226.87)', '$1,597.42 ',
       '($711.61)', '($378.67)', '$809.62 ', '$318.20 ', '($79.69)',
       '$393.25 ', '($64.02)', '$1,259.66 ', '($119.17)', '($584.59)',
       '$162.24 ', '$1,545.81 ', '($424.65)', '$239.15 ', '$1,042.37 ',
       '($474.72)', '($443.31)', '($265.93)', '($295.50)', '($274.87)',
       '$688.53 ', '$1,455.90 ', '($258.45)', '$174.09 ', '$477.75 ',
       '($15.93)', '($1,408.88)', '$402.38 ', '($882.65)', '$1,588.43 ',
       '($752.28)', '($1,448.06)', '($1,696.00)', '($512.28)',
       '$1,575.98 ', '($231.19)', '($641.99)', '$585.90 ', '($367.85)',
       '($163.55)', '($1,143.12)', '$869.47 ', '$330.65 ', '$2,016.43 ',
       '($365.18)', '($78.20)', '$790.93 ', '$1,312.81 ', '($746.85)',
       '$601.86 ', '$121.87 ', '$344.88 ', '$1,000.49 ', '($90.10)',
       '$569.52 ', '($1,053.29)', '$1,774.31 ', '$134.12 ', '($943.55)',
       '($176.23)', '($393.53)', '$226.35 ', '$1,819.78 ', '($561.94)',
       '$174.29 ', '($934.74)', '($565.20)', '$496.56 ', '$81.42 ',
       '$156.22 ', '($1,910.80)', '($436.03)', '$754.52 ', '$819.77 ',
       '$444.68 ', '$838.68 ', '($1,378.83)', '$1,175.48 ', '$1,762.80 ',
       '($1,294.44)', '($246.29)', '$14.81 ', '$306.85 ', '$1,580.32 ',
       '$2,746.09 ', '$622.61 ', '$302.71 ', '$1,092.53 ', '($301.66)',
       '$595.55 ', '($668.81)', '($1,096.83)', '$67.23 ', '($6.44)',
       '$151.04 ', '($1,586.89)', '($1,045.88)', '$1,326.79 ',
       '($887.43)', '$2,053.59 ', '$488.67 ', '$1,312.69 ', '$219.56 ',
       '($1,221.34)', '$285.92 ', '($886.37)', '$524.73 ', '($1,395.03)',
       '($1,310.87)', '($502.82)', '($586.10)', '$958.81 ', '$1,341.18 ',
       '$1,373.83 ', '($1,034.63)', '$140.92 ', '$1,047.44 ', '$626.55 ',
       '$872.43 ', '($505.03)', '($826.44)', '$579.45 ', '($30.13)',
       '($74.28)', '$312.53 ', '$6.78 ', '$16.84 ', '($253.98)',
       '($287.60)', '($1,978.86)', '($1,246.02)', '$1,879.48 ',
       '($488.59)', '($1,100.29)', '($411.20)', '($2,069.31)',
       '($306.71)', '($93.93)', '$1,094.62 ', '($1,679.35)', '$602.19 ',
       '($408.16)', '($1,866.41)', '$1,429.82 ', '$230.83 ', '$1,021.05 ',
       '($280.84)', '$28.49 ', '$1,983.31 ', '$1,543.32 ', '($1,025.86)',
       '$1,249.19 ', '($2,012.81)', '($1,520.19)', '$687.44 ', '$419.60 ',
       '($1,214.32)', '$980.70 '], dtype=object)

In [49]:
asn['x41'] = asn['x41'].str.replace('$', '')

In [50]:
asn['x41'] = asn['x41'].str.replace(',', '')

In [51]:
asn['x41'] = asn['x41'].str.strip()

In [52]:
asn['x41'] = asn['x41'].str.replace(')', '')

In [53]:
asn['x41'] = asn['x41'].str.replace('(', '-')

In [54]:
asn['x41'].unique()

array(['124.72', '1273.04', '-1651.19', '896.05', '-1710.27', '-634.94',
       '272.90', '-1659.69', '-1061.87', '526.37', '-903.23', '326.63',
       '-1043.81', '1508.92', '-754.73', '-142.40', '-1027.17', '344.20',
       '708.43', '344.59', '673.54', '-769.48', '-257.74', '61.11',
       '58.33', '-1032.54', '942.30', '672.06', '-386.49', '-334.91',
       '-375.25', '304.93', '1218.54', '1418.15', '-781.28', '-1173.34',
       '-998.68', '-1636.38', '600.99', '-902.47', '-2502.46', '-917.64',
       '980.64', '70.08', '-981.82', '79.44', '112.69', '-622.36',
       '1481.73', '-800.51', '138.53', '612.06', '-423.54', '613.94',
       '2388.15', '539.67', '2134.08', '-661.52', '1201.93', '-286.83',
       '636.20', '-1407.27', '-1090.66', '-289.83', '365.33', '372.62',
       '1410.97', '983.98', '-407.40', '-333.82', '-1330.64', '-738.88',
       '-0.09', '-447.73', '587.90', '575.25', '-2171.55', '1185.39',
       '-1053.00', '666.43', '-160.13', '-1320.24', '-344.32', '-204.60',
       '-1767.95', '1466.58', '-800.61', '536.00', '141.95', '-1195.59',
       '447.72', '-60.31', '-398.31', '-804.32', '202.24', '-251.45',
       '-1881.71', '-566.85', '-1327.19', '-386.59', '-473.01', '-275.08',
       '-1939.71', '114.56', '-3.77', '1062.57', '2112.46', '-2414.82',
       '-420.56', '-284.52', '738.40', '-80.82', '-1611.33', '-468.82',
       '130.00', '-2128.17', '-788.84', '-41.68', '18.41', '1276.51',
       '-1273.49', '-251.93', '2144.95', '-940.13', '-842.62', '-2120.13',
       '1444.70', '823.01', '-427.81', '2217.10', '-248.06', '334.28',
       '1448.39', '-514.75', '955.86', '-324.31', '227.04', '-753.67',
       '-456.80', '688.19', '2470.88', '294.63', '-2170.98', '-288.08',
       '-906.84', '1596.24', '-483.75', '1058.94', '502.86', '795.48',
       '-431.56', '-2124.46', '533.54', '-1699.78', '783.90', '-1384.14',
       '-858.13', '1505.43', '-1281.55', '1065.88', '-598.16', '123.03',
       '-926.89', '650.59', '-1981.93', '-2138.07', '486.71', '1099.63',
       '-995.39', '-1498.58', '1015.59', '336.18', '-900.77', '1919.96',
       '-995.27', '160.86', '-701.21', '-423.56', '-1022.39', '1033.17',
       '-485.58', '-1053.26', '-661.29', '457.14', '-1189.09', '-204.85',
       '812.82', '-7.87', '-725.33', '1104.70', '-509.19', '356.26',
       '160.65', '2108.98', '864.92', '-529.87', '1293.57', '75.25',
       '-103.14', '-1230.33', '912.88', '432.93', '-756.85', '2245.35',
       '1571.18', '-358.92', '-1031.91', '675.21', '-376.08', '1064.40',
       '-139.92', '30.07', '-78.01', '178.93', '1569.67', '1069.63',
       '260.41', '1287.45', '-1037.77', '1823.39', '737.52', '-1075.41',
       '-306.63', '1863.28', '-32.05', '-1096.12', '-221.74', '1094.07',
       '914.40', '-870.16', '1891.86', '-1085.24', '1202.18', '1837.79',
       '-144.98', '152.91', '-762.78', '-338.04', '-245.36', '-205.01',
       '-1929.58', '159.70', '1238.14', '-172.65', '161.19', '847.30',
       '-1078.21', '-524.58', '79.96', '288.35', '-60.82', '601.65',
       '-1160.01', '-375.17', '-722.89', '-328.14', '214.47', '-213.71',
       '702.20', '762.69', '561.64', '1027.85', '305.62', '-739.12',
       '1489.06', '-433.65', '1286.95', '2899.67', '1170.75', '-428.67',
       '-601.41', '231.46', '708.79', '-411.95', '-87.45', '-984.72',
       '-1582.14', '-1764.74', '-1084.91', '-843.61', '-815.37',
       '1027.66', '-793.23', '-1292.16', '943.53', '-371.18', '55.88',
       '398.45', '370.23', '-740.64', '-648.41', '-1246.24', '506.75',
       '-1265.97', '1873.81', '-557.47', '-2564.14', '1549.46',
       '-2395.83', '-1817.53', '-995.46', '565.16', '-680.81', '223.30',
       '1435.95', '779.21', '-1260.66', '585.24', '-244.70', '1094.95',
       '343.68', '-1717.04', '-743.21', '694.67', '-1112.25', '1810.31',
       '489.54', '-1309.09', '2271.85', '-674.14', '-112.01', '-3041.42',
       '257.88', '-350.50', '27.45', '540.15', '-181.24', '543.26',
       '1886.90', '-1100.78', '380.26', '1566.82', '1775.46', '-1036.19',
       '103.79', '-109.58', '-1765.74', '-1295.90', '-441.02', '-791.89',
       '1328.75', '345.17', '-1724.53', '-1057.86', '-142.08', '-646.80',
       '-438.17', '382.26', '-1677.23', '97.39', '144.28', '528.71',
       '-1376.32', '808.91', '461.33', '-510.93', '695.84', '1040.92',
       '1246.00', '-369.30', '668.24', '1874.42', '-647.84', '-1185.41',
       '-144.62', '957.46', '-520.77', '-802.38', '-130.97', '254.46',
       '-652.68', '-1867.85', '-89.40', '-1065.06', '1846.36', '-15.72',
       '263.53', '1101.38', '37.89', '995.02', '1157.50', '1536.59',
       '319.26', '52.22', '-900.39', '212.68', '194.82', '2769.32',
       '-745.86', '-1655.63', '-331.04', '-93.26', '121.38', '-1027.42',
       '-284.43', '573.20', '-373.74', '703.52', '1231.29', '2687.24',
       '-139.65', '26.96', '3.41', '714.18', '-2487.51', '-85.36',
       '-943.01', '198.75', '-1306.05', '-754.17', '2681.34', '38.89',
       '-183.98', '1629.56', '101.24', '716.06', '2456.21', '-1108.63',
       '-73.55', '1343.76', '468.17', '-225.72', '-163.42', '-953.96',
       '-992.94', '95.07', '377.11', '1166.99', '-281.29', '-1988.60',
       '707.75', '895.55', '-111.08', '-473.03', '269.51', '518.77',
       '-611.07', '2670.16', '860.53', '-709.09', '-1935.40', '-1146.25',
       '454.65', '179.51', '722.41', '552.27', '852.29', '334.69',
       '729.62', '-566.64', '-889.77', '-854.26', '892.88', '-410.37',
       '1653.58', '975.40', '-94.11', '-404.92', '709.09', '-819.84',
       '-1157.54', '-888.03', '-225.09', '228.08', '-767.06', '445.83',
       '413.42', '-53.02', '-1712.53', '-2205.84', '-545.23', '296.80',
       '-261.71', '572.48', '-138.44', '113.94', '119.52', '-205.19',
       '596.62', '1253.90', '872.18', '2480.34', '-337.86', '-1948.52',
       '158.70', '-173.00', '-902.95', '-270.04', '-431.91', '791.27',
       '579.77', '2544.29', '-613.93', '1545.76', '-2197.83', '1111.40',
       '-692.03', '-583.59', '286.34', '149.75', '-54.95', '-185.46',
       '-665.41', '-407.31', '1721.71', '451.55', '474.82', '-299.68',
       '-907.86', '71.19', '914.64', '-414.44', '-857.67', '3658.56',
       '-743.81', '-2005.80', '1054.10', '-407.07', '-617.71', '-110.28',
       '1084.74', '1221.98', '905.33', '1753.17', '-769.00', '741.07',
       '920.60', '521.07', '1054.03', '-141.84', '1099.77', '1554.47',
       '-74.67', '-1103.74', '1181.61', '1506.79', '-680.06', '2036.51',
       '480.00', '-475.67', '-2013.88', '998.30', '83.29', '245.33',
       '41.04', '257.75', '451.21', '-854.48', '-475.27', '201.31',
       '-1070.65', '594.94', '230.23', '71.77', '883.31', '-2939.22',
       '351.94', '913.09', '956.82', '-968.72', '529.15', '2132.41',
       '-888.37', '-136.42', '-523.72', '1537.19', '-1191.41', '250.47',
       '1943.64', '1027.13', '-266.26', '1122.86', '-143.34', '1898.99',
       '-67.69', '830.42', '-935.06', '69.35', '1240.16', '-507.40',
       '-831.94', '-395.85', '-385.84', '-33.69', '-1339.13', '-676.10',
       '-655.52', '1067.60', '-305.39', '268.47', '379.56', '-1208.38',
       '671.44', '-164.41', '-1334.67', '-874.07', '1167.91', '29.97',
       '-251.31', '1008.74', '1464.79', '106.30', '-94.73', '-753.60',
       '336.91', '-836.03', '1671.37', '954.39', '-836.17', '-1146.77',
       '-179.18', '-468.19', '151.80', '1188.23', '-254.70', '-1692.97',
       '-514.69', '753.22', '725.64', '1330.87', '1235.62', '-331.97',
       '1774.85', '-309.24', '1011.46', '-1631.57', '621.34', '-1773.51',
       '101.62', '-782.52', '13.85', '-493.15', '-484.53', '-852.11',
       '-1178.22', '-2808.15', '470.27', '1024.59', '247.55', '-448.55',
       '-234.32', '-434.42', '1820.08', '-839.16', '835.33', '-214.09',
       '1519.02', '422.70', '385.87', '-12.29', '-1263.37', '525.75',
       '787.37', '-99.66', '-6.33', '1489.68', '266.20', '-631.09',
       '1121.03', '1131.29', '24.44', '79.70', '470.47', '862.55',
       '1013.17', '1119.74', '-105.86', '685.80', '573.72', '609.45',
       '-1167.92', '-1503.71', '503.15', '-738.20', '1830.52', '-1219.49',
       '-161.38', '51.47', '178.71', '-192.45', '-1307.57', '-2179.76',
       '-984.41', '-775.10', '75.57', '213.90', '1131.40', '504.89',
       '2866.10', '1692.80', '-912.39', '1198.22', '1373.14', '428.68',
       '-458.70', '1182.21', '-1362.84', '-353.03', '-606.10', '-419.23',
       '-1415.05', '-849.13', '1301.50', '1116.16', '-1144.55', '-779.83',
       '-1476.16', '-35.77', '-757.63', '307.77', '474.02', '-856.50',
       '1226.38', '-922.51', '210.49', '-192.15', '-372.71', '568.47',
       '-636.04', '-1133.98', '-1258.42', '130.77', '911.97', '997.40',
       '134.62', '-366.54', '328.19', '-580.02', '279.92', '-2354.57',
       '-948.45', '680.67', '1240.07', '336.96', '1337.88', '-829.95',
       '-1568.18', '-142.01', '-665.14', '-342.85', '117.12', '-1845.51',
       '-334.28', '-170.33', '-268.22', '-685.70', '843.97', '-814.76',
       '-404.59', '-1004.55', '-208.68', '-425.09', '-743.74', '1207.71',
       '961.06', '-460.81', '-630.91', '1090.89', '894.23', '-957.13',
       '630.87', '265.37', '-1031.46', '18.45', '-331.20', '-2166.28',
       '818.54', '288.88', '305.69', '-888.90', '-48.92', '-5.73',
       '89.69', '-947.73', '-522.95', '760.01', '-533.48', '-1137.77',
       '-1139.04', '-59.16', '-908.04', '1431.80', '302.63', '850.07',
       '376.30', '-654.21', '-726.83', '537.96', '-876.90', '1152.08',
       '180.21', '-994.39', '-19.89', '-359.51', '-613.80', '-35.79',
       '234.90', '784.45', '537.49', '1804.37', '2581.86', '521.81',
       '-719.80', '-1224.38', '-736.82', '657.14', '-492.24', '1423.59',
       '-1067.67', '-1268.96', '90.84', '1645.15', '-384.56', '247.09',
       '1230.55', '-432.57', '732.81', '-3.54', '3031.99', '918.52',
       '-1791.52', '-426.97', '-894.72', '1917.24', '786.21', '877.59',
       '1056.52', '-263.07', '1173.92', '-194.20', '-447.00', '-549.43',
       '-229.93', '-291.64', '-701.25', '209.83', '-19.94', '-1097.13',
       '-1226.87', '1597.42', '-711.61', '-378.67', '809.62', '318.20',
       '-79.69', '393.25', '-64.02', '1259.66', '-119.17', '-584.59',
       '162.24', '1545.81', '-424.65', '239.15', '1042.37', '-474.72',
       '-443.31', '-265.93', '-295.50', '-274.87', '688.53', '1455.90',
       '-258.45', '174.09', '477.75', '-15.93', '-1408.88', '402.38',
       '-882.65', '1588.43', '-752.28', '-1448.06', '-1696.00', '-512.28',
       '1575.98', '-231.19', '-641.99', '585.90', '-367.85', '-163.55',
       '-1143.12', '869.47', '330.65', '2016.43', '-365.18', '-78.20',
       '790.93', '1312.81', '-746.85', '601.86', '121.87', '344.88',
       '1000.49', '-90.10', '569.52', '-1053.29', '1774.31', '134.12',
       '-943.55', '-176.23', '-393.53', '226.35', '1819.78', '-561.94',
       '174.29', '-934.74', '-565.20', '496.56', '81.42', '156.22',
       '-1910.80', '-436.03', '754.52', '819.77', '444.68', '838.68',
       '-1378.83', '1175.48', '1762.80', '-1294.44', '-246.29', '14.81',
       '306.85', '1580.32', '2746.09', '622.61', '302.71', '1092.53',
       '-301.66', '595.55', '-668.81', '-1096.83', '67.23', '-6.44',
       '151.04', '-1586.89', '-1045.88', '1326.79', '-887.43', '2053.59',
       '488.67', '1312.69', '219.56', '-1221.34', '285.92', '-886.37',
       '524.73', '-1395.03', '-1310.87', '-502.82', '-586.10', '958.81',
       '1341.18', '1373.83', '-1034.63', '140.92', '1047.44', '626.55',
       '872.43', '-505.03', '-826.44', '579.45', '-30.13', '-74.28',
       '312.53', '6.78', '16.84', '-253.98', '-287.60', '-1978.86',
       '-1246.02', '1879.48', '-488.59', '-1100.29', '-411.20',
       '-2069.31', '-306.71', '-93.93', '1094.62', '-1679.35', '602.19',
       '-408.16', '-1866.41', '1429.82', '230.83', '1021.05', '-280.84',
       '28.49', '1983.31', '1543.32', '-1025.86', '1249.19', '-2012.81',
       '-1520.19', '687.44', '419.60', '-1214.32', '980.70'], dtype=object)

In [55]:
asn['x41'] = pd.to_numeric(asn['x41'], errors='coerce')

In [56]:
asn.head()

,x0,x1,x34,x35,x36,x41,x45,x46,x68,x84,x93,x94
0,0.196063,3.683995,Tesla,Thursday,-4.664154,124.72,-0.0001,14.360555,Jun,-11.072770,Asia,0.023357
1,23.155197,-9.226725,Toyota,Thursday,5.220242,1273.04,-0.0001,0.328324,Jul,4.601376,Asia,1.349389
2,-13.969618,-0.343978,BMW,Wednesday,-0.061424,-1651.19,0.0000,3.824882,Aug,17.351746,Asia,2.149993
3,49.722481,-1.500789,Toyota,Wednesday,1.908461,896.05,0.0001,-6.201024,Aug,6.084073,Asia,-3.052037
4,-13.494403,7.445215,Honda,Wednesday,0.074133,-1710.27,0.0001,-12.547338,May,10.035783,Asia,-0.100660

In [57]:
asn['x41'].dtypes

dtype('float64')

In [58]:
asn.to_csv('jose_vila_cleaned_assignment_3_data.csv')